* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("https://images.unsplash.com/photo-1524985069026-dd778a71c7b4");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
}

.logo span {
  color: #ff5252;
}

.home-btn {
  border: 1px solid #fff;
  padding: 6px 16px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}

/* Search Section */
.search-container {
  margin-top: 120px;
  text-align: center;
}

.search-container h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.search-container h1 span {
  color: #ff5252;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-box input {
  width: 320px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.search-box button {
  padding: 12px 22px;
  border-radius: 6px;
  border: none;
  background: #ff5252;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Heading */
.heading {
  margin: 40px;
  font-size: 30px;
}

.heading span {
  color: #ff5252;
}

/* Movie Grid */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  padding: 40px;
}

/* Movie Card */
.movie-card {
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.movie-card:hover {
  transform: scale(1.1);
  box-shadow: 0 25px 40px rgba(0,0,0,0.8);
}

/* Poster */
.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Title */
.movie-card p {
  padding: 12px;
  text-align: center;
  font-size: 15px;
  background: #0c0c0c;
}
.movie-card p:last-child {
  font-style: italic;
  opacity: 0.85;
}
.chat-container {
  width: 80%;
  margin: auto;
  color: white;
}

.chat-box {
  background: #111;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.chat-box p {
  margin: 5px 0;
}

